/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(rgba(116, 111, 111, 0.5), rgba(216, 210, 210, 0.5)), url("../src/assets/bgimage.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}